*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  background: white;
}
nav ul{
  line-height: 100px;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin-left: 20px;
}
li a{
  text-decoration: none;
  color: black;
  padding: 0 15px;
}
li img{
  width: 100px;
  vertical-align: middle;
  margin-bottom: 7px;
}
ul .link:hover{
  background-color: black;
  border-bottom: 5px solid yellow;
  cursor: pointer;
}
.link:hover a{
  color: yellow;
}
.container{
  margin-top: 110px;
}
.box{
 height: 300px;
 width: 500px;
 position: relative;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 cursor: pointer;
}

#first{
 background-image: url(../img/roma.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
}

#second{
 background-image: url(../img/copenaghen.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
}

#third{
 background-image: url(../img/tokyo.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
}

.background{
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.7);
}

.city{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 50px;
 color: white;
}

.hover{
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(255,255,255,0.3);
 display: none;
}

.box:hover .hover{
 display: block;
}
.certification{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
